<form action="/users/login" method="post">
  <h1>Hello Dreamers!</h1>
  <h2>Login to Your Account Here</h2>
  <div>
      <label>Username</label>
      <br>
      <input id="username" type="text" name="username"/>
  </div>
  <div>
      <label>Password</label>
      <br>
      <input id="password" type="password" name="password"/>
  </div>
  <div>
      <input type="submit" value="Log In"/>
  </div>
</form>
<br>
<h9>If you are re-directed back to the login page, then that means your credentials are incorrect</h9>
<br>
<h9>If you don't have an account, please create one</h9>
<br>
<a href="/register"><button type = "button" id="registerButton">Create An Account</button></a>