<h1>Welcome to Quest, where your goals are stored</h1>
<h2>Please Login or Create an account</h2>
<a href="/login"><button type = "button" id="loginButton">Login</button></a>
<a href="/register"><button type = "button" id="registerButton">Create An Account</button></a>