body{
    background:url('../images/nightmountains.png'); 
    margin: 0;
    background-attachment: fixed;
    height: 2000px;
}

h1{
    font-weight: bolder;
}


input{
    margin-top: 8px;
    border-radius: 5px;
}

select {
    background-color: rgba(192,192,192,.5);
    color:white; 
    font-size:20px; 
}

 option {
    opacity: 0.1;
    color: black;
}

#starsIMG{
    background:url('../images/stars.png');
    padding-top: 30px;
    margin: 0;
    background-attachment: fixed;
    height: 2000px;
    opacity: 0.9;
}

.btn-info{
    margin: 15px;
}

#sidePanel{
    float: left;
    width: 15%;
    height: 100%;
}

#separator{
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

#submitButton{
    text-align: center;
}

.qmbox {
    background-color: rgba(192,192,192,.5);
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
    display: inline-block; 
    padding: 20px; 
    margin-right: 30px;
    word-wrap:break-word;
}

.qmboxCompleted{
    background-color: rgba(192,192,192,.5);
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
    display: inline-block; 
    padding: 20px; 
    margin-right: 30px;
    word-wrap:break-word;
}

#regForm{
    width: 250px;
    margin-top: 30px;
    background-color: rgba(192,192,192,.5);
    padding: 20px;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
    margin: auto;
    border: 20px;
}

/*nav bar styling*/

#LandNav {
    /*height: 80px;*/
    background-color: rgba(0, 0, 0, 0.7);
    padding-top:5px;
    
}

#mainNav {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);    
    
}
#mainNav1 {
    
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom:4px;
}

.navbutton {
    margin-top: 30px;
    margin-right: 40px;
}

.mainnavbutton {
    margin-top: 20px;
    margin-right: 30px;
}

.landNavitem a {
    display: inline-block
}

#accountForm {
    text-align: center;
    margin-top: 150px;
    display: inline-block;
    background-color: rgba(192,192,192,.5);
    padding: 10px;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
    margin-left: 35%;
}

#siteName{
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    padding: none;
    margin-top:0;
    display: inline-block;
    color: yellow;
    margin-bottom: 0px;
}

#loginText{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: none;
    margin-top:0;
    color: yellow;
    margin-bottom: 0px;
    text-align: center;
}

#logonli a {
    color: yellow;
    margin-top: 20px;
    font-size: 30px;
}

#mainNavli a {
    color: yellow;
    margin-top: 19px;
    font-size: 20px;
}

#mainNavli button {
    margin-top: 27px;
    margin-left: 7px;
    font-size: 20px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0);
    border-color:rgba(0, 0, 0, 0);

}

.navbar-header img {
    height: 95px;
    
}

.navbar-brand {
    padding: 0px;
}

/*------------------------------*/

#layoutContain {
    background-color: grey;
}

#loginForm {
    text-align: center;
    margin-top: 150px;
    display: inline-block;
    background-color: rgba(192,192,192,.5);
    padding: 10px;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
    margin-left: 35%;
}

#loginText {
    text-align: center;
    margin-top: 0px;
    padding: none;
}

#submitButton input {
    margin-left: 5px;
    margin-top: 10px;
    color: #007B93;
    
}
 #taskText {
     display: inline-block;
     margin-left:5px;
     margin-right: 5px;
     font-size: 18px;
 }

 .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color:black;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.panel-default {
    background-color: rgba(192,192,192,.5);
}

.panel-default>.panel-heading {
    background-color: rgba(192,192,192,.7);
}
.panel-default>.panel-heading a {
    color: yellow;
    font-size: 17px;
}


#pageTitle {
    font-size: 24px;
    color: yellow;
    text-align: center;
}

.missionTitle {
    font-size: 20px;
    color:yellow;
    text-align: center;
}

.missionsTitle {
    font-size: 20px;
    color: white;
    text-transform: bold;
}

.questsTitle {
    font-size: 20px;
    color: white;
    text-transform: bold;
}

.noMissionsText {
    color: white;
}

.noQuestsText {
    color: white;
}

.btn-group {
    display: inline-block;
}

/*User homepage styling */

#homepageDiv {
    margin-top: 80px;
}

/*#homepageDiv a {
    color:white;
}*/

.task-completed {
    text-decoration: line-through;
}


#taskTitle {
    color: black;
}

.publicSelection {
    margin-top: 10px; 
    
}
.publicSelection p input {
    display: inline-block;
    
}


.publicText {
    color: yellow;
    display:inline-block;
    
}

.publicSelect {
    color:#007B93;
    display: inline-block;
    margin-left: 5px;
    
}

.publicSelection input {
    margin-left: 5px;
    margin-right: 5px;
}
#pubselectDiv{
    background-color: rgba(192,192,192,.5);
    padding: 2px;
}
#createmissbutton {
    margin-left:30%;
}

#createquestbutton { 
    float:right;
    margin-right: 30%;
}

#missionForm {
     background-color: rgba(192,192,192,.5);
     padding-bottom: 10px; 
     margin-top: 10px;
}

#missionlistdiv{
    background-color: rgba(192,192,192,.5);
     padding-bottom: 10px;
     padding-top: 20px;
     margin-top: 10px;
}
/*Styling for the all user page */
.alllistdiv {
    background-color: rgba(192,192,192,.5);
     padding-bottom: 10px;
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
     margin-top: 10px;
     color: white; 
     font-size: 15px;
}

#titleall {
    font-size:18px;
    text-decoration: underline;
}

.alltaskitem {
    background-color: rgba(192,192,192,.5);
    padding:2px;
    margin-top:3px;
    }
.mstasks {
    margin-left: 20px;
    font-size:18px;
}

/*--------------------------------------*/
#missionAdd {
    float: right;
    color: black;
    margin:0px;

}

.panel-body p {
    display: inline-block;
}

.userSearchText {
    font-family: 'Lobster', cursive;
    color: yellow;
    display: inline-block;
    font-size: 20px;
    
}

.searchPrefix {
    color: white;
    font-size:20px;
    
}
.hvr-icon-shrink:before {
    content:"\f00d";
    

}


.hvr-ripple-out:before {
    border: #5bc0de solid 6px;
}

#likes {
    color:black;
}

 #panel2 a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color:black;
}
#panel2 a.collapsed:after {
    content:"\e080";
}

.forAllHeader {
    font-size: 24px;
    color: white;
}

.searchHeader {
    font-size: 18px;
    color: #ffda73;
}


.uploadImageText {
    font-size: 12px;
    color: black;
}


#usersearchresult {
    margin-right:0px;
}

.topPanel { 
     background-color: rgba(192,192,192,.7);
}

.topPanel a {
    font-size: 20px;
    color: yellow ;
    text-decoration: none;
    
}

.panelback {
    background-color: rgba(192,192,192,.5);
    color: white; 
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
}

.questDescription {
    padding-bottom: 5px;
    border-bottom: thick solid white;
    font-size: 20px;
}

.mstext {
    font-size: 20px;
}

#commentDate {
    float:right;
}

.commentText {
    font-size: 20px;
    margin-bottom:0px;
}
.hvr-icon-grow:before {
    content:"\f00d";
    color:rgba(0, 0, 0, 0.3);
}
.hvr-icon-fade:hover:before, .hvr-icon-fade:focus:before, .hvr-icon-fade:active:before {
  color: red;
}
#x{
    margin-bottom: 30px;
    font-size: 20px;
}

.panel-body button {
    color: black;
}

#feedPageTitle {
    font-size: 32px;
    color: yellow;  
}

#searchMilestone {

}

#searchPanelheaders {
    font-family: 'Dosis', sans-serif;
    color: white;
    size: 72px;
    background: brown;
}

.searchBarForm {
    margin-top: 50px;
}