body{
    background:url('../images/nightmountains.png'); 
    padding-top: 30px;
    margin: 0;
    background-attachment: fixed;
    height: 2000px;
}

h1{
    font-weight: bolder;
}

input{
    margin-top: 8px;
    border-radius: 5px;
}

#submitButton{
    text-align: center;
}

#logonli a {
    color: yellow;
    margin-top: 20px;
    font-size: 30px;
}

.navbutton {
    margin-top: 30px;
    margin-right: 40px;
}

#regForm{
    width: 192px;
    margin-top: 30px;
    background-color: grey;
    padding: 20px;
    box-shadow: 4px 4px 1px black;
    margin: auto;
}

#siteName{
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    padding: none;
    margin-top:0;
    display: inline-block;
    color: yellow
}

#mainNav {
    /*height: 80px;*/
    background-color: rgba(0, 0, 0, 0.7);
    
}

#layoutContain {
    background-color: grey;
}

#loginForm {
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    background-color: grey;
    padding: 10px;
    box-shadow: 4px 4px 1px black;
    margin-left: 35%;
}

#loginText {
    text-align: center;
    margin-top: 0px;
    padding: none;
}

#pageTitle {
    font-size: 24px;
    color: yellow;
}

.missionTitle {
    font-size: 20px;
    color: orange;
}

.missionsTitle {
    font-size: 20px;
    color: white;
    text-transform: bold;
}

.questsTitle {
    font-size: 20px;
    color: white;
    text-transform: bold;
}

.noMissionsText {
    color: white;
}

.noQuestsText {
    color: white;
}

.btn-group {
    display: inline-block;
}