body{
    background:url('../images/nightmountains.png'); 
    padding-top: 30px;
    margin: 0;
    background-attachment: fixed;
    height: 2000px;
}


#logonli a {
    color: yellow;
    margin-top: 20px;
    font-size: 30px;
}



#siteName{
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    padding: none;
    margin-top:0;
    display: inline-block;
    color: yellow
}

#mainNav {
    /*height: 80px;*/
    background-color: rgba(0, 0, 0, 0.7);
    
}

#layoutContain {
    background-color: grey;
}
