body {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    height:2000px; 
}

#logincont {
    background-color: white; 
    opacity: 0.8;
    margin-top:300px;
    display: block;
    height: 300px;
    position: absolute; 
}

#logincont h1 h2 h3 button p {
    opacity: 1;
}

.navbar-default {
  background-color: black;
  opacity: 0.8;
  border-width: 0;
  margin-bottom: 0 !important;
  height: 5%;
  -webkit-transition: background-color 0.3s, height 0.3s;
          transition: background-color 0.3s, height 0.3s;
}
.st-navbar-mini .navbar-default {
  background-color: rgba(40, 40, 40, 0.95);
  height: 60px;
}
.st-navbar-mini .navbar-default .navbar-brand {
  padding: 15px 15px;
}
.st-navbar-mini .navbar-default .navbar-brand img {
  height: 30px;
}
.st-navbar-mini .navbar-default .navbar-nav > li.active > a,
.st-navbar-mini .navbar-default .navbar-nav > li.active a:hover,
.st-navbar-mini .navbar-default .navbar-nav > li.active a:focus,
.st-navbar-mini .navbar-default .navbar-nav > li.active a:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-brand {
  height: auto;
  padding: 27px 15px;
  -webkit-transition: padding 0.3s;
          transition: padding 0.3s;
}
.navbar-brand img {
  height: 48px;
  -webkit-transition: height 0.3s;
          transition: height 0.3s;
}
.navbar-nav > li > a {
  font-family: "Oswald";
  background-color: black;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  -webkit-transition: color 0.3s, background-color 0.3s, padding 0.3s;
          transition: color 0.3s, background-color 0.3s, padding 0.3s;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:active {
  color: #4ecdc4;
  outline-width: 0;
}
.navbar-nav > li.active > a,
.navbar-nav > li.active a:hover,
.navbar-nav > li.active a:focus,
.navbar-nav > li.active a:active {
  color: #4ecdc4;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active a:hover,
.navbar-default .navbar-nav > li.active a:focus,
.navbar-default .navbar-nav > li.active a:active {
  color: #1B75BC;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1B75BC;
}